body {
    margin: 0px;
}

nav {
    background-color: #333;
}

ul {
    list-style: none;
    margin-top: 10px;
    padding: 0px;
    color: #ccc;
}

li {
    display: inline-block;
    padding: 1rem;
}

.active{
    background-color: #ccc;
    color: #333;
}

.carousel {
    margin: 0px;
    background-color: gray;
    padding: 10px;
    height: 100px;
    width: auto ;
}

#fellows {
    text-align: center;
    font-size: 18pt;
}
#commas {
    font-size: 12pt;
}

.boxes {
    display: inline-block;
}

#box-one {
    background-color: gray;
    padding: 10px;
    height: 100px;
    width: 100px;
    border: none;
    margin: 60px;
}

#box-two {
    background-color: gray;
    padding: 10px;
    height: 100px;
    width: 100px;
    border: none;
    margin: 60px;
}

#box-three {
    background-color: gray;
    padding: 10px;
    height: 100px;
    width: 100px;
    border: none;
    margin: 60px;
}